body{
  height: 100vh;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
  padding-top: 20px;
}
.ricerca{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid red;
}
.film_visualizzati{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid green;
  background-color: lightblue;
}
#scheda_film{
  background-color: white;
}
.giallo{
  color: yellow;
}
img{
  width: 30px;
  height: 30px;
}
